extends ../layout

block content

	ul#pills-tab.nav.nav-tabs.mb-3(role='tablist')
		li.nav-item
			a#pills-home-tab.nav-link.active(data-toggle='pill', href='#pills-account', role='tab', aria-controls='pills-account', aria-selected='true') Account Information
		li.nav-item
			a#pills-jobs-tab.nav-link(data-toggle='pill', href='#pills-jobs', role='tab', aria-controls='pills-jobs', aria-selected='false') Jobs
	#pills-tabContent.tab-content
		#pills-account.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-account-tab')
			include profile/account
		#pills-jobs.tab-pane.fade(role='tabpanel', aria-labelledby='pills-jobs-tab') 
			include profile/jobs

		//- button.ml-4.btn.btn-primary(type='button', data-toggle='modal', data-target='#addJobsModal')
		//- 	| Add Job
		include ../modals/add_worked_job