.form-group.row
    label.col-md-3.col-form-label.font-weight-bold.text-right(for='technologies') Industry
    .col-md-7
        select.form-control.d-none#industry(name="industry" multiple="multiple", required)
            option(value='Accounting') Accounting
            option(value='Airlines/Aviation') Airlines/Aviation
            option(value='Alternative Dispute Resolution') Alternative Dispute Resolution
            option(value='Alternative Medicine') Alternative Medicine
            option(value='Animation') Animation
            option(value='Apparel/Fashion') Apparel/Fashion
            option(value='Architecture/Planning') Architecture/Planning
            option(value='Arts/Crafts') Arts/Crafts
            option(value='Automotive') Automotive
            option(value='Aviation/Aerospace') Aviation/Aerospace
            option(value='Banking/Mortgage') Banking/Mortgage
            option(value='Biotechnology/Greentech') Biotechnology/Greentech
            option(value='Broadcast Media') Broadcast Media
            option(value='Building Materials') Building Materials
            option(value='Business Supplies/Equipment') Business Supplies/Equipment
            option(value='Capital Markets/Hedge Fund/Private Equity') Capital Markets/Hedge Fund/Private Equity
            option(value='Chemicals') Chemicals
            option(value='Civic/Social Organization') Civic/Social Organization
            option(value='Civil Engineering') Civil Engineering
            option(value='Commercial Real Estate') Commercial Real Estate
            option(value='Computer Games') Computer Games
            option(value='Computer Hardware') Computer Hardware
            option(value='Computer Networking') Computer Networking
            option(value='Computer Software/Engineering') Computer Software/Engineering
            option(value='Computer/Network Security') Computer/Network Security