.form-group.row
    label.col-md-3.col-form-label.font-weight-bold.text-right(for='technologies') Industry
    .col-md-7
        select.form-control.d-none#industry(name="industry" multiple="multiple", required)
            option(value='Accounting') Accounting
            option(value='Airlines/Aviation') Airlines/Aviation
            option(value='Alternative Dispute Resolution') Alternative Dispute Resolution
            option(value='Alternative Medicine') Alternative Medicine
            option(value='Animation') Animation
            option(value='Apparel/Fashion') Apparel/Fashion
            option(value='Architecture/Planning') Architecture/Planning
            option(value='Arts/Crafts') Arts/Crafts
            option(value='Automotive') Automotive
            option(value='Aviation/Aerospace') Aviation/Aerospace
            option(value='Banking/Mortgage') Banking/Mortgage
            option(value='Biotechnology/Greentech') Biotechnology/Greentech
            option(value='Broadcast Media') Broadcast Media
            option(value='Building Materials') Building Materials
            option(value='Business Supplies/Equipment') Business Supplies/Equipment
            option(value='Capital Markets/Hedge Fund/Private Equity') Capital Markets/Hedge Fund/Private Equity
            option(value='Chemicals') Chemicals
            option(value='Civic/Social Organization') Civic/Social Organization
            option(value='Civil Engineering') Civil Engineering
            option(value='Commercial Real Estate') Commercial Real Estate
            option(value='Computer Games') Computer Games
            option(value='Computer Hardware') Computer Hardware
            option(value='Computer Networking') Computer Networking
            option(value='Computer Software/Engineering') Computer Software/Engineering
            option(value='Computer/Network Security') Computer/Network Security
            option(value='Construction') Construction
            option(value='Consumer Electronics') Consumer Electronics
            option(value='Consumer Goods') Consumer Goods
            option(value='Consumer Services') Consumer Services
            option(value='Cosmetics') Cosmetics
            option(value='Dairy') Dairy
            option(value='Defense/Space') Defense/Space
            option(value='Design') Design
            option(value='E-Learning') E-Learning
            option(value='Education Management') Education Management
            option(value='Electrical/Electronic Manufacturing') Electrical/Electronic Manufacturing
            option(value='Entertainment/Movie Production') Entertainment/Movie Production
            option(value='Environmental Services') Environmental Services
            option(value='Events Services') Events Services
            option(value='Executive Office') Executive Office
            option(value='Facilities Services') Facilities Services
            option(value='Farming') Farming
            option(value='Financial Services') Financial Services
            option(value='Fine Art') Fine Art
            option(value='Fishery') Fishery
            option(value='Food Production') Food Production
            option(value='Food/Beverages') Food/Beverages
            option(value='Fundraising') Fundraising
            option(value='Furniture') Furniture
            option(value='Gambling/Casinos') Gambling/Casinos
            option(value='Glass/Ceramics/Concrete') Glass/Ceramics/Concrete
            option(value='Government Administration') Government Administration
            option(value='Government Relations') Government Relations
            option(value='Graphic Design/Web Design') Graphic Design/Web Design
            option(value='Health/Fitness') Health/Fitness
            option(value='Higher Education/Acadamia') Higher Education/Acadamia
            option(value='Hospital/Health Care') Hospital/Health Care
            option(value='Hospitality') Hospitality
            option(value='Human Resources/HR') Human Resources/HR
            option(value='Import/Export') Import/Export
            option(value='Individual/Family Services') Individual/Family Services
            option(value='Industrial Automation') Industrial Automation
            option(value='Information Services') Information Services
            option(value='Information Technology/IT') Information Technology/IT
            option(value='Insurance') Insurance
            option(value='International Affairs') International Affairs
            option(value='International Trade/Development') International Trade/Development
            option(value='Internet') Internet
            option(value='Investment Banking/Venture') Investment Banking/Venture
            option(value='Investment Management/Hedge Fund/Private Equity') Investment Management/Hedge Fund/Private Equity
            option(value='Judiciary') Judiciary
            option(value='Law Enforcement') Law Enforcement
            option(value='Law Practice/Law Firms') Law Practice/Law Firms
            option(value='Legal Services') Legal Services
            option(value='Legislative Office') Legislative Office
            option(value='Leisure/Travel') Leisure/Travel
            option(value='Library') Library
            option(value='Logistics/Procurement') Logistics/Procurement
            option(value='Luxury Goods/Jewelry') Luxury Goods/Jewelry
            option(value='Machinery') Machinery
            option(value='Management Consulting') Management Consulting
            option(value='Maritime') Maritime
            option(value='Market Research') Market Research
            option(value='Marketing/Advertising/Sales') Marketing/Advertising/Sales
            option(value='Mechanical or Industrial Engineering') Mechanical or Industrial Engineering
            option(value='Media Production') Media Production
            option(value='Medical Equipment') Medical Equipment
            option(value='Medical Practice') Medical Practice
            option(value='Mental Health Care') Mental Health Care
            option(value='Military Industry') Military Industry
            option(value='Mining/Metals') Mining/Metals
            option(value='Motion Pictures/Film') Motion Pictures/Film
            option(value='Museums/Institutions') Museums/Institutions
            option(value='Music') Music
            option(value='Nanotechnology') Nanotechnology
            option(value='Newspapers/Journalism') Newspapers/Journalism
            option(value='Non-Profit/Volunteering') Non-Profit/Volunteering
            option(value='Oil/Energy/Solar/Greentech') Oil/Energy/Solar/Greentech
            option(value='Online Publishing') Online Publishing
            option(value='Other Industry') Other Industry
            option(value='Outsourcing/Offshoring') Outsourcing/Offshoring
            option(value='Package/Freight Delivery') Package/Freight Delivery
            option(value='Packaging/Containers') Packaging/Containers
            option(value='Paper/Forest Products') Paper/Forest Products
            option(value='Performing Arts') Performing Arts
            option(value='Pharmaceuticals') Pharmaceuticals
            option(value='Philanthropy') Philanthropy
            option(value='Photography') Photography
            option(value='Plastics') Plastics
            option(value='Political Organization') Political Organization
            option(value='Primary/Secondary Education') Primary/Secondary Education
            option(value='Printing') Printing
            option(value='Professional Training') Professional Training
            option(value='Program Development') Program Development
            option(value='Public Relations/PR') Public Relations/PR
            option(value='Public Safety') Public Safety
            option(value='Publishing Industry') Publishing Industry
            option(value='Railroad Manufacture') Railroad Manufacture
            option(value='Ranching') Ranching
            option(value='Real Estate/Mortgage') Real Estate/Mortgage
            option(value='Recreational Facilities/Services') Recreational Facilities/Services
            option(value='Religious Institutions') Religious Institutions
            option(value='Renewables/Environment') Renewables/Environment
            option(value='Research Industry') Research Industry
            option(value='Restaurants') Restaurants
            option(value='Retail Industry') Retail Industry
            option(value='Security/Investigations') Security/Investigations
            option(value='Semiconductors') Semiconductors
            option(value='Shipbuilding') Shipbuilding
            option(value='Sporting Goods') Sporting Goods
            option(value='Sports') Sports
            option(value='Staffing/Recruiting') Staffing/Recruiting
            option(value='Supermarkets') Supermarkets
            option(value='Telecommunications') Telecommunications
            option(value='Textiles') Textiles
            option(value='Think Tanks') Think Tanks
            option(value='Tobacco') Tobacco
            option(value='Translation/Localization') Translation/Localization
            option(value='Transportation') Transportation
            option(value='Utilities') Utilities
            option(value='Venture Capital/VC') Venture Capital/VC
            option(value='Veterinary') Veterinary
            option(value='Warehousing') Warehousing
            option(value='Wholesale') Wholesale
            option(value='Wine/Spirits') Wine/Spirits
            option(value='Wireless') Wireless
            option(value='Writing/Editing') Writing/Editing