
.modal(tabindex='-1', role='dialog' id="addWorkedJobsModal" aria-labelledby="addWorkedJobsModalLabel" aria-hidden="true")
    .modal-dialog.modal-lg(role='document')
        form.modal-content(method="post", action="/job_offer")
            input(type='hidden', name='_csrf', value=_csrf)
            .modal-header
                h5.modal-title(id="addWorkedJobsModalLabel") Add A Job Listing
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                .form-group.row
                    label.col-md-3.col-form-label.font-weight-bold.text-right(for='jobName') Job Title
                    .col-md-7
                        input.form-control(type='text', name='jobName', id='jobName' required)
                .form-group.row
                    label.col-md-3.col-form-label.font-weight-bold.text-right(for='titleType') Job Type
                    .col-md-7
                        input.form-control(type='text', name='jobType', id='jobType' required)

                include industry

                .form-group.row
                    label.col-md-3.col-form-label.font-weight-bold.text-right(for='companyAW') Organisation/Company
                    .col-md-7
                        input.form-control(type='text', name='companyAW', id='companyAW' required)
                .form-group.row
                    label.col-md-3.col-form-label.font-weight-bold.text-right(for='technologies') Skills Required
                    .col-md-7
                        select.form-control.d-none#skillsRequired(name="skillsRequired" multiple="multiple", required)
                            option(value='NodeJS') NodeJS
                            option(value='Flask') Flask
                            option(value='Tensorflow') Tensorflow
                            option(value='Javascript') Javascript
                            option(value='Flutter') Flutter
                            option(value='Kotlin') Kotlin
                            option(value='Android') Android
                            option(value='IOS') IOS
                            option(value='HTML/CSS') HTML/CSS
                            option(value='JAVASCRIPT') JAVASCRIPT
                            option(value='MySQL') MySQL
                            option(value='Firebase') Firebase
                .form-group.row
                    label.col-md-3.col-form-label.font-weight-bold.text-right(for='jobDescription') Job Description
                    .col-md-7
                        textarea.form-control#bio(name="jobDescription", rows='4', placeholder='Describe the listing as thoroughly as possible')

                .form-group.row
                    label.col-md-3.col-form-label.font-weight-bold.text-right(for='projectEnd') Application Deadline:
                    .col-md-7
                        input.form-control#applicationDeadline(type='date', name='applicationDeadline')
            .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                button.btn.btn-primary(type='submit') Submit
