img.ml-auto.mr-auto.mt-5(style="height: 400px;", src="/web_developer.svg")
.jumbotron.card  
    form
        h1.text-center.font-weight-bold.mb-4 Search Jobs
        .input-group.mb-3
            input.form-control(type='search', placeholder="Search Jobs", aria-label="Search Jobs", aria-describedby='search', required)
            .input-group-append
                button.btn.btn-primary#search.input-group-text(type="button") Search


//- h1.font-weight-bold Jobs You Might Be Interest In
