h1 Project Strawberry
p.lead Fast track your software career.
hr
.col-md-5
    .card.p-4
        .text-small.text-uppercase Project Strawberry For Developers
        h4.font-weight-bold Keep Recruiters and Clients Updated About Your Work
        br
        br
        p Improve your chances of getting your dream job. Keep your profile updated and increase your visibility. It's a competitive market. 
    br
    a.btn.btn-primary(href="/login") Login
    br
    br
    p Don't have an account? 
        a(href="/signup") Sign up
