style.
  
  .checked {
                  color: orange;
              }
  
form
  .form-group
    label(for) Client Coments
    textarea.form-control#clientComments(rows='3', placeholder='tell us how you feel about the product/developer')
  .form-group
    label(for) Client Rating
    span.fa.fa-star.checked
    span.fa.fa-star.checked
    span.fa.fa-star.checked
    span.fa.fa-star
    span.fa.fa-star