form.d-flex.flex-column.justify-content-between(method='POST')
  .form-group
    label(for='bioTextArea') Project Name
    input.form-control(type='text', placeholder='Enter name of project')
  .form-group
    label(for='url') Enter link to project
    input#projectUrl(type='url', name='url', placeholder='https://example.com', pattern='https://.*', size='30', required)
  .form-group
    label(for) Project Description
    textarea.form-control#projectDescription(rows='3', placeholder='tell us highlights about your work')
  .form-inline
    label.my-1.mr-2(for='inlineFormCustomSelectPref') Technology Stack
    select.custom-select.my-1.mr-sm-2#teckStack(multiple)
      option(selected) Nodejs
      option(value='1') Flask
      option(value='2') Tensorflow
      option(value='3') Javascript
      option(value='4') Flutter
      option(value='5') Android
      option(value='6') IOS
      option(value='7') html/css
      option(value='8') Mysql
      option(value='9') Firebase
  .form-row.align-items-center
    label(for='start') Start date:
    input#start(type='date', name='trip-start', value='2018-07-22', min='2000-01-01', max='2019-12-31')
    label(for='start') Delivery date:
    input#deliveryDate(type='date', name='trip-start', value='2018-07-22', min='2000-01-01', max='2019-12-31')
  .form-group
    label(for='AffiliationDescription') Client Name
    input.form-control#clientName(type='text', placeholder='Company/Organisation')
  .form-group
    .form-group
      label(for='exampleInputEmail1') Client Email address
      input.form-control#exampleInputEmail1(type='email', aria-describedby='emailHelp', placeholder='Enter email')
      small#emailHelp.form-text.text-muted We may contact the client if we have any queries